<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://pedro3pv.github.io/ipa-library-download/8_Ball_Pool_Hack.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>id5431868319999</key>
                <string>com.miniclip.Pool</string>
                <key>4.7.7</key>
                <string>1.0.0</string>
                <key>kind</key>
                <string>8_ball_pool</string>
                <key>8_ball_pool_hack</key>
                <string>HELLO_Gamer</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
